@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heroButton {
		@apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#178fe6]/40 hover:text-[#178fe6]/40;
	}
	.contactInput {
		@apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-400 transition-all focus:text-[#d8e8f2] hover:border-[#178fe6]/30;
	}
}

/* Hide scrollbar visually */
.scrollbar-invisible::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}
.scrollbar-invisible::-webkit-scrollbar-thumb {
	background-color: transparent;
}

/* Show scrollbar on scroll with Tailwind-style colors */
.scrollbar-colored::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(156, 163, 175, 0.2); /* gray-400/20 */
}
.scrollbar-colored::-webkit-scrollbar-thumb {
	background-color: rgba(23, 143, 230, 0.8); /* #178fe6/80 */
	border-radius: 9999px;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
